In [1]:
import pandas as pd
import numpy as np

In [2]:
# Step 2 : Get/Load the Data

In [3]:
lcn=pd.read_csv(r"LungCapData.csv")

In [4]:
lcn.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [5]:
# Step 3 : Data Cleaning and Preprocessing

In [6]:
lcn.shape

(725, 6)

In [7]:
lcn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    725 non-null    float64
 1   Age        725 non-null    int64
 2   Height     725 non-null    float64
 3   Smoke      725 non-null    object
 4   Gender     725 non-null    object
 5   Caesarean  725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [8]:
lcn.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [9]:
lcn.Smoke = lcn.Smoke.replace({'no':0 , 'yes':1})

In [10]:
lcn.Gender.replace({'male':1 , 'female':0} , inplace=True)

In [11]:
lcn.Caesarean.replace({'no':0 , 'yes':1} , inplace=True)

In [12]:
lcn.head()

   LungCap  Age  Height  Smoke  Gender  Caesarean
0    6.475    6    62.1      0       1          0
1   10.125   18    74.7      1       0          0
2    9.550   16    69.7      0       0          1
3   11.125   14    71.0      0       1          0
4    4.800    5    56.9      0       1          0

In [13]:
lcn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    725 non-null    float64
 1   Age        725 non-null    int64
 2   Height     725 non-null    float64
 3   Smoke      725 non-null    int64
 4   Gender     725 non-null    int64
 5   Caesarean  725 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 34.1 KB

In [14]:
# Step 4 : Sampling

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
lcn_train, lcn_test = train_test_split(lcn, test_size = 0.2)

In [17]:
lcn_train

     LungCap  Age  Height  Smoke  Gender  Caesarean
242    6.575    8    59.8      0       0          0
339   10.250   18    72.5      0       0          0
579    8.225    7    65.7      0       1          0
2      9.550   16    69.7      0       0          1
246    8.000    9    66.4      0       1          0
..       ...  ...     ...    ...     ...        ...
87     7.750   11    63.5      0       0          0
658    6.500   14    61.7      1       0          0
52     7.400   11    65.3      0       1          0
238    9.475   17    64.8      1       0          0
707    5.275   12    58.5      0       0          1

[580 rows x 6 columns]

In [18]:
lcn_test

     LungCap  Age  Height  Smoke  Gender  Caesarean
446    6.300   11    59.0      0       0          0
451    4.425    9    57.1      0       1          1
254    5.300    7    57.3      0       1          1
405    8.775   13    68.1      0       0          0
171    4.325    6    56.6      0       1          0
..       ...  ...     ...    ...     ...        ...
315    7.300   12    67.5      0       1          0
292    5.475    3    52.9      0       1          0
636    9.050   15    65.3      0       1          1
5      6.225   11    58.7      0       0          0
653    7.800   13    65.4      0       0          0

[145 rows x 6 columns]

In [19]:
lcn_train_x = lcn_train.iloc[:,1::]
lcn_test_x = lcn_test.iloc[:,1::]

In [20]:
lcn_train_x

     Age  Height  Smoke  Gender  Caesarean
242    8    59.8      0       0          0
339   18    72.5      0       0          0
579    7    65.7      0       1          0
2     16    69.7      0       0          1
246    9    66.4      0       1          0
..   ...     ...    ...     ...        ...
87    11    63.5      0       0          0
658   14    61.7      1       0          0
52    11    65.3      0       1          0
238   17    64.8      1       0          0
707   12    58.5      0       0          1

[580 rows x 5 columns]

In [21]:
lcn_test_x

     Age  Height  Smoke  Gender  Caesarean
446   11    59.0      0       0          0
451    9    57.1      0       1          1
254    7    57.3      0       1          1
405   13    68.1      0       0          0
171    6    56.6      0       1          0
..   ...     ...    ...     ...        ...
315   12    67.5      0       1          0
292    3    52.9      0       1          0
636   15    65.3      0       1          1
5     11    58.7      0       0          0
653   13    65.4      0       0          0

[145 rows x 5 columns]

In [22]:
lcn_train_y = lcn_train.iloc[:,0]
lcn_test_y = lcn_test.iloc[:,0]

In [23]:
lcn_train_y

242     6.575
339    10.250
579     8.225
2       9.550
246     8.000
        ...
87      7.750
658     6.500
52      7.400
238     9.475
707     5.275
Name: LungCap, Length: 580, dtype: float64

In [24]:
lcn_test_y

446    6.300
451    4.425
254    5.300
405    8.775
171    4.325
       ...
315    7.300
292    5.475
636    9.050
5      6.225
653    7.800
Name: LungCap, Length: 145, dtype: float64

In [25]:
# Model Building

In [26]:
# import the necessary function from sklearn
# create an object of that function 
# Run the fit function & model is created
# Run the prediction by using predict function

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
linereg = LinearRegression()

In [29]:
linereg.fit(lcn_train_x, lcn_train_y)

LinearRegression()

In [30]:
# Evaluating

In [31]:
Rsq = linereg.score(lcn_train_x, lcn_train_y)
Rsq

0.851024301402314

In [32]:
N = lcn_train_x.shape[0]
K = lcn_train_x.shape[1]

In [33]:
Adj_Rsq = 1 - (1-Rsq)*(N-1)/(N-K-1)
Adj_Rsq

0.8497266036793376

In [34]:
lcn_train.columns

Index(['LungCap', 'Age', 'Height', 'Smoke', 'Gender', 'Caesarean'], dtype='object')

In [35]:
linereg.coef_

array([ 0.15998598,  0.26086639, -0.60240589,  0.38347603, -0.27898674])

In [36]:
linereg.intercept_

-11.07481025414339

In [37]:
pred_train = linereg.predict(lcn_train_x)
pred_test = linereg.predict(lcn_test_x)

In [38]:
pred_train

array([ 5.80488755, 10.71775045,  7.56748928,  9.38836588,  8.07006771,
        5.01882224,  8.36048688, 10.6031482 , 11.99960463,  4.94402847,
        7.01888025,  7.8613746 ,  7.40324754,  6.62500578,  5.80835369,
        9.76144346,  6.9448761 ,  7.35004026,  8.51700671,  9.30213967,
        4.57188323,  6.67961121,  8.00670638,  7.6074405 , 13.52728388,
        8.16669235,  8.88915195, 10.86490585,  8.08845139, 10.33881566,
        6.62411452,  9.81363569,  8.35020904, 10.14143121,  5.83444033,
        3.40145064,  5.71187178,  9.04127328,  5.27968863,  7.98394315,
       10.18126183,  8.09615435,  5.85706082,  8.22129778, 10.08127269,
        7.01888025, 12.30467801,  7.94231104, 10.17868695,  6.88498091,
        9.69013479, 10.85604829,  7.39874739,  7.11961792,  8.92217088,
        8.09175585, 12.04381162,  7.9691873 , 10.12215626,  7.30915669,
        9.52652098,  7.45197362, 11.42555585,  9.91346315,  9.23867669,
        8.63175171,  4.68316208,  5.84933891, 11.32560779, 11.65251204,
        9.94301594,  8.85520066, 10.03949785,  3.4988649 ,  3.63276424,
       11.01256813,  9.09358929,  7.12655022,  7.00408331,  9.78659775,
       10.81530745,  9.13086399,  3.95030405, 10.21081462,  8.1848127 ,
        8.03625916, 11.45960878, 10.50212505,  1.66586789,  2.36145123,
       11.24294938,  7.94216831,  9.10913476,  5.50317867,  6.82240919,
        7.61978316,  5.73795842,  9.65711586,  7.01873751,  7.01527137,
        9.18409022,  3.47971055,  6.44483146,  5.46576124,  6.26674409,
        6.51180168,  3.84066773, 11.32560779,  9.46652415,  4.26577586,
        8.7734746 ,  7.54740258,  4.54926274,  5.61561212,  7.14223842,
        5.85732416,  6.52309138,  4.53460854, 11.01706827,  6.46398581,
        9.59602499, 11.53786869,  8.44567909, 10.7099269 ,  7.8569761 ,
        2.45900823, 10.45688407,  9.18062407,  6.75543898,  4.40060755,
       11.14300132,  3.28234823,  2.48148599,  7.05615494,  7.99527394,
        4.37358856,  8.82564788,  7.64495958,  7.28746855,  8.24148612,
        5.86492547, 11.29165651,  7.87627318, 10.91168772,  6.46838431,
        7.74490764,  5.99096016, 10.09167112,  5.5588181 ,  7.82395717,
        9.27698538,  6.92572175,  7.06308724,  5.5520064 , 10.05865219,
       10.86733799,  6.57179851,  7.75714864,  9.48233294,  8.58843598,
        9.93954979,  7.60062881,  5.05970581,  9.65606291,  7.97024025,
       10.75605915,  5.65530001,  4.7241473 ,  6.13298748,  8.64650755,
        9.0004308 ,  6.81351055,  5.34226034,  1.22239504,  9.58126914,
       11.6760238 ,  9.04127328,  6.55367816,  6.57526466, 11.40733385,
        7.65521528,  9.2317444 ,  6.88830432,  8.01710481,  8.03611643,
        8.45271303,  6.02051295, 10.30036423,  4.54579659,  7.48483087,
        2.71973188,  4.0649474 ,  6.40954207,  9.47088156,  9.3395571 ,
        7.06758738,  4.97358125, 11.01256813,  6.44150805, 12.04381162,
        3.375364  , 12.36467484,  7.78658083,  5.10312318,  8.88925359,
        3.33887892,  5.49184788,  3.53628233,  5.71454831,  7.18668978,
        7.33964182,  8.96741186,  6.53788831, 10.55776448,  3.57365867,
        9.00478821, 11.56395533, 10.65775362, 10.56123062,  3.35367586,
        7.65278313, 10.47964729, 10.75863403,  8.01108274,  8.33440024,
        7.17872349,  9.55607376,  6.06046417,  9.70037154,  7.56655693,
        7.92058181,  7.63352714,  8.26653876,  9.85435758,  9.98491137,
       10.18561924,  8.6475605 ,  9.12749949,  7.79697927,  3.5953879 ,
        6.31786441, 11.20210689,  9.41088472,  5.19360515,  8.38760752,
        9.79883876,  5.77880091,  8.27888142,  6.0170468 ,  9.95523799,
       12.43164506,  7.93087861, 13.2664175 , 10.00074231,  5.31270756,
       10.24231161, 12.83437707,  4.30665944,  7.22499848,  5.75964656,
        3.30507037,  6.19182972,  9.75601097,  9.11606705,  5.05530732,
        4.45278083,  6.18489743,  5.05289412, 12.98293062, 10.06558449,
        4.06841354,  8.86653146,  6.74414928,  6.94062033, 10.24486755,
        5.18227436,  8.53869485, 10.88570272,  4.30319329,  9.56300606,
        7.44745452,  7.2683142 ,  7.67451236, 10.87094688, 10.40574479,
        6.32572906,  6.3641394 ,  8.97087801,  6.48224889,  3.67364781,
        9.1023452 ,  7.48483087,  7.75712969,  7.32048748, 10.32991702,
        8.49785237,  8.22233178, 10.02127585,  5.21979344,  7.69020056,
       11.48664672, 12.14211715,  9.25101934, 11.52311284, 12.33076465,
        6.91197776, 11.00034607,  5.86399312, 10.1325547 ,  5.49878017,
        3.81883686,  6.9032029 , 11.2064643 ,  7.65961378,  6.50486938,
        3.32758922, 10.92297742,  5.76751121,  5.13460123,  9.88737651,
       10.43876372,  8.91187409,  9.5821604 ,  2.81382273,  9.03979244,
        7.08224158,  7.29995393,  6.49793709, 11.61602696,  7.70832091,
        6.22920606, 10.97079329,  2.8572401 ,  9.4586595 ,  7.81173511,
        8.42316024,  9.48578014,  9.92128671,  8.52843915,  2.09018641,
        7.23436292,  9.69704813, 10.06998298,  4.22156887,  3.22231031,
        9.72660092, 12.27615922,  8.13263942,  7.0482903 , 10.08940066,
        6.21445021,  3.0023275 ,  5.9867044 ,  8.11001893,  9.77715062,
        4.88056549,  6.61268208,  6.80657826,  7.77525004,  7.15174559,
       10.73254739,  5.70504114,  7.11189601,  2.77293916, 12.17424481,
       10.09722422,  9.09784506, 10.68925062,  9.02998358, 10.09953577,
        5.02228838,  8.92332548, 11.411834  , 12.29774572,  7.10392972,
        9.20565776,  9.73789062,  9.80818424,  6.29386472,  6.38225975,
        7.27025841,  7.10832822,  7.8726643 ,  8.50131851,  8.11451908,
        8.22565519,  8.08934265, 12.25353873,  7.53700414,  9.26912074,
        5.24577843,  5.21622565,  9.28391768,  8.01017252, 10.39883145,
        8.6656619 ,  9.78996225,  7.4952293 ,  9.59014565, 10.93430821,
        2.25017238,  4.34506978,  7.33964182,  4.48233362,  7.8299982 ,
        9.94648208,  9.12739784,  9.07186007,  9.84213553, 12.20136545,
        7.8580101 ,  5.35359113, 10.86298058,  8.65447385,  9.86035752,
        8.11348508,  4.95189311, 11.43688664,  6.78835626,  6.5674411 ,
        9.98144523,  7.79004697,  9.72392439,  9.40302008,  3.49207534,
       11.27690066,  9.70823619,  5.32865909,  3.93461585, 12.38293792,
       11.56385369,  7.96132266,  8.11001893,  7.27178035, 10.12215626,
       10.6952727 ,  3.92318341, 11.49252606, 10.68140811,  4.48233362,
        3.64859517,  5.5701078 , 10.30476273,  6.18489743, 11.09776033,
       12.95337783, 10.85951444,  4.78750864,  9.67187171,  6.43789917,
        7.96132266,  4.57881553,  4.52664225,  7.31355518,  6.08401702,
        4.68316208, 10.84141304,  6.04765254,  9.42910672,  8.43781444,
        8.32667833,  8.14486148,  6.87354847,  8.18931285, 11.30645344,
        6.46745195,  9.10141285,  9.08513507,  9.81604889,  7.5178498 ,
        2.58686654,  5.84923727, 11.79091152,  4.52664225,  2.16844632,
        6.18049893,  7.32741977,  8.05543246, 10.79947652, 10.84382624,
        6.94834224,  9.90653086,  7.03353445,  7.85004381,  3.12929455,
       10.57602756,  3.16667089,  6.51388862,  8.25867412,  9.65259676,
        8.14046298, 11.10663684,  6.20311942,  8.80752753,  8.63175171,
        6.2283148 ,  6.71702864,  8.25520797,  5.71197343,  9.54478406,
        9.22387975, 10.75863403,  6.17356664,  5.7857332 ,  4.93273877,
       10.80040887,  9.29778226, 10.68473152,  5.11534524,  7.45092067,
        5.73355992,  8.14739527,  8.56917999,  9.68214955, 10.69166382,
        9.23184604, 12.33179865, 10.27877774,  7.72307676,  2.70933344,
        4.73533536,  8.16654962,  4.98837819,  7.65730223,  4.59796987,
        6.09530672,  6.46838431,  8.22912133,  7.63788455, 11.55252289,
        3.55103818,  7.2796039 ,  8.3118814 ,  6.54224572,  3.19622367,
        5.1926728 ,  9.26036483, 11.43110894,  6.56833236,  7.95003295,
        8.78932449,  8.03958257,  8.38564117,  5.4396746 ,  6.06139652,
        9.10927749,  8.37088532,  7.90568323,  2.89104865,  7.86044225,
        8.87796389,  9.21451531,  9.40995237, 10.39005659,  8.02042822,
        7.69804307,  4.01970641,  7.02220366,  2.63018226,  8.05091336,
        5.33107229,  7.74480599,  7.9691873 ,  6.3631054 ,  5.77790964,
        3.32758922, 10.76313417, 11.5299024 ,  3.21191187,  5.21969179,
        8.05784565,  8.30059169, 10.26493211,  2.99203071, 10.12136664,
        7.25005112,  6.65804367,  8.10308664,  7.9466874 ,  5.82671842])

In [39]:
pred_test

array([ 6.07615237,  5.36502357,  5.09722489,  8.77000846,  5.03361917,
        6.20326216,  9.84302679, 10.2560556 ,  4.59361246,  6.30067642,
       11.03172247,  7.55873337, 10.8334278 ,  6.38572589,  3.45362391,
        4.36769027,  9.43950516,  9.29084997,  8.63610912,  8.02482672,
        7.48740575,  6.25995453,  6.6865435 , 11.86917144,  5.94918533,
        6.29360139, 10.35026705,  9.46652415,  5.86504607, 11.69775302,
       10.33883461,  7.18762214,  9.30065883, 11.00123733, 11.30991959,
        4.90318598, 11.16908796,  9.01518664,  4.00247733,  7.138915  ,
        6.91532331,  8.17348191,  9.65028521,  8.09972214,  5.38314392,
        8.25520797, 12.52133741,  6.32236456, 10.33788331,  5.80053014,
        9.28045153,  9.77169917,  8.48998772,  8.15086142,  8.53176256,
        8.95954722,  8.63521785,  2.26932673,  4.48926591,  6.59121619,
        5.23459038, 11.70904273, 11.56731983, 11.03865476, 13.1359843 ,
        8.82564788,  3.15884733,  8.83351252,  6.89616896,  8.97087801,
        7.32484489,  5.09272474,  8.48652158,  4.05272534,  7.01873751,
       10.024742  , 10.39431235,  7.54393644,  8.10412064, 10.12562241,
        8.17451591,  8.71783518,  5.54055501,  7.30662289,  9.50043434,
        3.94233776,  7.21267478,  7.62233909,  4.37105477,  4.25884357,
        7.09264002,  7.36572846, 10.75516788, 10.97861684, 11.72730581,
        9.95083949,  4.15449701,  4.72840307,  9.96217028,  8.47176573,
        9.78408291,  7.07887708, 11.39253692,  3.67028331,  6.59547195,
        7.56566566,  7.15715595, 10.32418041, 10.00994506,  4.94763735,
       11.19969369,  4.01624026,  6.69000965, 10.34333476,  5.75618042,
        9.1195332 ,  4.54926274, 11.84839351, 10.32645087, 12.06296597,
       11.53776705,  8.48998772,  5.22315794, 11.47772912,  8.61365031,
        5.60312673,  6.2396045 ,  4.91011827, 11.36298413, 10.09710362,
        8.78040689,  7.59610971,  9.16146972,  8.91523859,  9.43350522,
       10.94229345,  5.6779205 ,  8.04398107, 11.6466327 ,  8.46146894,
        8.83697867,  3.58845561,  8.46404382,  5.99789246,  8.06566921])

In [40]:
err_train = lcn_train_y - pred_train
err_test = lcn_test_y - pred_test

In [41]:
err_train

242    0.770112
339   -0.467750
579    0.657511
2      0.161634
246   -0.070068
         ...
87     0.499949
658   -0.158044
52    -0.703087
238    1.528313
707   -0.551718
Name: LungCap, Length: 580, dtype: float64

In [42]:
err_test

446    0.223848
451   -0.940024
254    0.202775
405    0.004992
171   -0.708619
         ...
315   -1.536979
292    1.886544
636    0.585956
5      0.227108
653   -0.265669
Name: LungCap, Length: 145, dtype: float64

In [43]:
mse = np.mean(np.square(err_test))
mse

1.017135307077359

In [44]:
rmse = np.sqrt(mse)
rmse

1.0085312623202907

In [45]:
mape = np.mean(np.abs(err_test * 100/lcn_test_y))
mape

13.051464784473513